.filter
    margin-top 43px

    &__lable
        vertical-align middle

    &__input
        margin-left 15px
        padding 0 20px
        box-sizing border-box
        width 418px
        height 50px
        border 1px solid #d8d8d8
        border-radius 25px
