// import('sprites/*')
@import 'helpers/optimize'
@import 'helpers/functions'
@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/measures'
@import 'helpers/grid-sizes'
@import 'helpers/typography'
@import 'helpers/utilities-media-functions'
@import 'helpers/total'
@import 'helpers/utilities'
@import 'helpers/vars-svg-size'
@import 'helpers/options'
@import 'helpers/flex'
@import 'helpers/grid'
@import 'helpers/display'
@import 'helpers/spacing'
@import 'helpers/utilities-media-functions'
// - стили блоков
@import '../blocks/layout-default/**/*'
@import '../blocks/main-title/**/*'
@import '../blocks/filter/**/*'
@import '../blocks/cards-sales/**/*'
@import '../blocks/btn-more/**/*'
