extends /blocks/layout-default/layout-default.pug
include /blocks/icon/icon

block head
    - var pageTitle = 'Главная страница'

block content
    .section.ovh
        .container
            +main-title.tx-xs-a-c
                | Our Latest Developments

    //- h1#isn.cla hello world 10
    //- +icon('add', 'block').add

    //- .container
    //-     .row
    //-         .col-xs-6
    //-             p Hello
    //-         .col-xs-6
    //-             p Hello
