extends /blocks/layout-default/layout-default.pug
include /blocks/icon/icon
include /blocks/filter/filter
include /blocks/cards-sales/cards-sales
include /blocks/btn-more/btn-more

block head
    - var pageTitle = 'Главная страница'

block content
    +b.section.main-wrapper.ovh
        .container
            +main-title
                | Our Latest Developments

            +filter

            +cards-sales(getData('cards-sales'))

            .tx-xs-center.w-100.mt-xs-6.d-xs-flex.justify-content-xs-center
                +btn-more('See more')
