.card-label
    z-index 1
    right 0
    bottom 0
    padding 6px 12px
    display block
    font-size px2rem(12px)
    line-height px2rem(16px)
    color colors('white')

    &_blue
        background-color colors('blue')

    &_orange
        background-color colors('orange')
