font-face('Montserrat', '/assets/public/fonts/MR', 'Montserrat Regular', 'Montserrat-Regular', 400)
font-face('Montserrat', '/assets/public/fonts/MM', 'Montserrat Medium', 'Montserrat-Medium', 500)
font-face('Montserrat', '/assets/public/fonts/MB', 'Montserrat Bold', 'Montserrat-Bold', 700)
font-face('Montserrat', '/assets/public/fonts/MEB', 'Montserrat ExtraBold', 'Montserrat-ExtraBold', 800)
font-face('Rubik', '/assets/public/fonts/RubR', 'Rubik Regular', 'Rubik-Regular', 400)
font-face('Roboto', '/assets/public/fonts/RR', 'Roboto Regular', 'Roboto-Regular', 400)
font-face('Roboto', '/assets/public/fonts/RB', 'Roboto Bold', 'Roboto-Bold', 700)

// 100 Thin (Hairline)
// 200 Extra Light (Ultra Light)
// 300 Light
// 400 Normal
// 500 Medium
// 600 Semi Bold (Demi Bold)
// 700 Bold
// 800 Extra Bold (Ultra Bold)
// 900 Black (Heavy)
