font-face('Open Sans', '../fonts/OpenSans/OpenSans', 400)
font-face-ttf('Open Sans', '../fonts/OpenSans/OpenSans', 400)
font-face('Open Sans', '../fonts/OpenSans/OpenSans-Bold', 700)
font-face-ttf('Open Sans', '../fonts/OpenSans/OpenSans-Bold', 700)

.fw-100
    font-weight 100

.fw-200
    font-weight 200

.fw-l
    font-weight lighter

.fw-n
    font-weight normal

.fw-500
    font-weight 500

.fw-600
    font-weight 600

.fw-b
    font-weight bold

.fw-800
    font-weight 800

.fw-900
    font-weight 900

/*
// 100 Thin (Hairline)
// 200 Extra Light (Ultra Light)
// 300 Light
// 400 Normal
// 500 Medium
// 600 Semi Bold (Demi Bold)
// 700 Bold
// 800 Extra Bold (Ultra Bold)
// 900 Black (Heavy)
*/
