// Grid breakpoints
$grid-breakpoints = {
    xs: 320px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
}
// Grid containers
// $container-max-widths = $grid-breakpoints
$container-max-widths = {
    xs: 100%,
    sm: calc(100% - 36px),
    md: calc(100% - 48px),
    lg: calc(100% - 32px),
    xl: 1170px
}
// Grid columns
$grid-columns = 12
$grid-gutter-width = map-get($spacers, 3)
