base-font()
    font-family $font-family-base
    font-size $font-size-base
    line-height $line-height-base

/*
.ffr
    font-family Roboto

.ff-base
    font-family $font-family-base
*/
for $cl, $cr in $brand-colors
    .cl-{$cl}
        color map-get($colors, $cl)

    .bg-{$cl}
        background-color map-get($colors, $cl)

-ae-map-serialize($map)
    $str = ''

    for $key, $value in $map
        $str = $str + $key + '=' + $value + '&'

    $str = slice($str, 0, -1)
    return $str

.ovh
    overflow hidden
