$t-time = .27s
$base-colors = {
    green: #45852d,
    blue: #006f79,
    orange: #ec6608,
    white: #fff,
    black: #363636,
    gray: #f8f8f8,
    gray-border: #d8d8d8
}
// $list-colors = {
// accent: map-get($base-colors, 'orangered'),
// accent-hover: map-get($base-colors, 'orangered')
// }
// $colors = $list-colors
$colors = $base-colors
$brand-colors = {
    accent: map-get($base-colors, 'green')
}

/*
label-blue: map-get($base-colors, 'blue'),
label-orange: map-get($base-colors, 'orange')
*/
colors($color)
    return map-get($colors, $color)
