.card-sale
    margin-bottom 38px

    +media-breakpoint-down('sm')
        margin-bottom 20px

    +media-breakpoint-down('xs')
        margin-bottom 10px

    &__content
        text-decoration none
        color inherit
        border 1px solid colors('gray-border')

    &__wrap-img
        height 42vw
        font-size 0

        +media-breakpoint-up('sm')
            height 188px

    &__img
        width auto
        max-width none

    &__wrap-text
        padding 20px 20px 16px
        background-color colors('gray')

    &__title
        font-size px2rem(20px)
        line-height px2rem(27px)

    &__text
        font-size 16px
        line-height 21px

        &_title
            margin-top 3px

        &_price
            margin-top 17px

    &__av
        margin-top 8px
        font-size 14px
        line-height 19px
