include ./card-sale/card-sale
include ./card-label/card-label

mixin cards-sales(arr)
    +b.cards-sales.row&attributes(attributes)
        each obj in arr
            +card-sale(obj).col-lg-4.col-sm-6.col-xs-12
        each obj in arr
            +card-sale(obj).col-lg-4.col-sm-6.col-xs-12
